<main>
	<h1>{{name}}</h1>
	<img class="cube" src="{{imageURL}}" />
	<div class="details">
		<p><span>Description:</span>{{description}}</p>
		<p><span>Difficulty level:</span> {{difficulty}}</p>
		<a class="btn" href="/">Back</a>
		{{#if matchCreator}}
			<a class="btn" href="/edit/cube/{{_id}}">Edit</a>
			<a class="btn" href="/delete/cube/{{_id}}">Delete</a>
			<a class="btn" href="/attach/accessory/{{_id}}">Attach</a>
		{{/if}}
		
	</div>
	<h2>Accessories</h2>
	<div class="accessories">

		{{#each accessories}}
			<div class="accessory">
				<img src="{{imageURL}}" alt="{{name}}" />
				<h3>{{name}}</h3>
				<p>{{description}}</p>
			</div>
		{{else}}
			<h3 class="italic">This cube has no accessories yet...</h3>
		{{/each}}

	</div>
</main>